* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgb(252, 151, 182) 0%,
    rgb(198, 176, 235) 100%
  );
  width: 100vw;
  height: 100vh;
}

/* board */

.board {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background: rgba(255, 255, 255, 0.13) !important;
}

/* células */

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

/* X */

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: "";
  background: white;
  width: calc(100px * 0.9); /* a largura da perninha do x é 90% da width total*/
  height: calc(100px * 0.15);
  position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

/* CIRCLE */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  content: "";
  background: white;
  width: calc(100px * 0.9); /* a largura da perninha do x é 90% da width total*/
  height: calc(100px * 0.9);
  position: absolute;
  border-radius: 50%;
}

/* win-msg */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.winning-message-button {
  font-size: 2.5rem;
  background-color: rgb(252, 151, 182);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  margin-top: 16px;
  color: white;
  transition: 600ms;
}

.winning-message-button:hover {
  color: rgb(252, 151, 182);
  background: white;
}

.winning-message-text {
  color: white;
  font-size: 5rem;
}

.show-winning-message {
    display: flex;
}